/* General Styles */
body {
  background-color: #e6b1d7;
  font-family: "Arial", serif;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #2f1fba;
}

/* Title Styles */
.title {
  font-family: "Monomaniac One", serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(135deg, #145aab, #ba53e2, #50ae3d);
  background-size: 500px 100%;
  background-clip: text;
}

/* Footer Title Styles */
.title_footer {
  font-family: "Arial", serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(135deg, #1e5799, #2ce0bf, #7ddd2c);
  background-size: 500px 100%;
  background-clip: text;
}

/* Card Styles */
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.card_transparent {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Button Styles */
.blue {
  background-color: rgb(45, 108, 180);
}

.blue:hover {
  background-color: rgba(45, 108, 180, 0.5);
}

.yellow {
  background-color: rgb(209, 206, 9);
}

.yellow:hover {
  background-color: rgba(209, 206, 9, 0.5);
}

/* Text Alignment */
.justify {
  text-align: justify;
}

/* Box Styles */
.box_small {
  width: 55px;
  height: 55px;
  margin-bottom: 8px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  text-align: center;
}
